body{
    background-color: #020202 !important;
    margin-bottom:50px;
}

.box-logo{
    margin-top: 140px;
}

.logo{
    text-align: center;
}

.logo img{
    width: 170px;
    border-radius: 100px;
    margin-bottom: 40px;
}

footer.page-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-size: 11px;
}

.social{
    color: white;
}

.social a{
    font-size: 10px;
    margin-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
}