@font-face {
  font-family: "theboldfont";
  src:
    url("../fonts/theboldfont.woff2") format("woff2"),
    url("../fonts/theboldfont.woff") format("woff"),
    url("../fonts/theboldfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family: 'source-serif-semibold';
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSerifPro-Semibold.ttf') format('truetype');
}

@media (max-width: 370px) {
    .desktop{
        display: none
    }

    .header-section {
        padding-bottom: 20px;
    }
    .header-section .eye {
        font-size: 0px;
    }
    .welcome-section {
        background-size: 805px!important;
    }
    .welcome-container .introduction strong{
        font-size: 40px!important;
    }
    .welcome-container .introduction p{
        font-size: 30px!important;
    }

    .xp-container .title {
        font-size: 37px!important;
    }
    .showreel-container .title {
        font-size: 38px!important;
    }
    .cv-section strong {
        font-size: 38px!important;
    }
    .contact-section strong {
        line-height: 1.3em;
    }
    .end-section span {
        padding-top: 5px;
        margin-left: 0px!important;
    }
}

@media (min-width: 320px) and (max-width: 575.98px) {
    .desktop{
        display: none
    }

    /*header*/
    .header-section{
        padding-bottom: 15px;
        padding-top: 14px;
        background-position:center top;
        background-size: 930px;
    }
    .eye {
        font-size: 60px;
    }
    .eye img {
        height: 80px;
        margin-right: 9px;
    }
    /*end header*/

    /*welcome*/
    .welcome-section{
        background-size: 880px;
        padding-bottom: 98px;
        padding-top: 60px;
        background-position:center bottom -1px;
    }
    .welcome-container .introduction{

    }

    .welcome-container .arrows{
        text-align: center;
    }
    .welcome-container .arrows{
        font-size: 20px;
    }
    .welcome-container .arrows img {
        height: 35px;
        margin-left: 0px;
    }
    /*end welcome*/

    /*XP*/
    .xp-section {
        background-position:center bottom -1px;
        padding-bottom: 150px;
        background-size: 890px;
        padding-top: 30px;
    }
    /*end xp*/

    /*showreel*/
    .showreel-section{
        background-position:center bottom -1px;
        background-size: 1930px;
        padding-bottom: 190px;
    }
    /*end showreel*/

    /* cv */
    .cv-section {
        background-size: 900px;
        background-position:center bottom -1px;
        padding-bottom: 250px;
    }
    /*end cv*/

    .contact-section{
        background-size: 840px;
    }
    .contact-section .phone{
        height: 170px;
    }

    .end-section {
        font-size: 13px;
    }
    .end-section span {
        display: inline-block;
        margin-left: 13px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*header*/
    .header-section{
        padding-bottom: 60px;
        background-position:center top;
        background-size: cover;
    }
    .header-container{

    }
    /*end header*/

    /*welcome*/
    .welcome-section{
        padding-bottom: 250px;
        padding-top: 50px;
        background-position:center bottom -1px;
    }
    .welcome-container .introduction{

    }
    .welcome-container .arrows{
        text-align: left;
    }
    .welcome-container .arrows{
        font-size: 25px;
    }

    .welcome-container .arrows img{
        height: 50px;
        margin-left: 20px;
    }
    /*end welcome*/
     /* xp */
    .xp-section{
        background-position:center bottom -1px;
        padding-bottom: 230px;
    }
    /*end xp*/

    /*showreel*/
    .showreel-section{
        background-position:center bottom -1px;
        padding-bottom: 120px;
    }
    /*end showreel*/

    /* cv */
    .cv-section{
        background-position:center bottom -1px;
        padding-bottom: 450px;
    }
    /*end cv*/

    .contact-section .phone{
        height: 380px;
    }
}
html {
    scroll-behavior: smooth;
}

.tns-nav{
    text-align: right;
}
body{
    font-family: "source-serif-semibold";
    font-weight: lighter;
    color: #fff;
}

strong{
    font-family: "theboldfont";
    color: #f15a24;
}

ul{
    list-style: none;
    padding: 0;
}

.header-section {
    background-color: #ff7bac;
    background-repeat: no-repeat;
    background-image: url(header1.svg);
    background-position: center top;
}

.header-container ul.navbar-nav{
    justify-content: space-evenly;
    width: 100%;
}

a.nav-link {
    font-family: 'source-serif-semibold';
    color: #ff7bac !important;
    font-size: 21px;
}

/*welcome*/
.welcome-section{
    background-color: #ff7bac;
    background-image: url(header2.svg);
    background-repeat: no-repeat;
    background-position: center bottom -1px;
}

.welcome-container{
    color: #f15a24;
    text-align: center;
    line-height: 40px;
}


.welcome-container .introduction p{
    font-size: 40px;
}
.welcome-container .introduction strong{
    font-size: 49px;
}

.welcome-container img{
    width: 50%;
    margin: 14px auto;
    display: block;
}

/*expertise*/
.xp-section{
    background-color: #12A05C;
    background-image: url(header3.svg);
    background-repeat: no-repeat;
    background-position: center bottom -1px;
}

.xp-section img{
    margin: auto;
    width: 150%;
}
.xp-section img.right{
    transform: scaleX(-1);
}

.xp-container strong{
    color: #fff;
}

.xp-container .title{
    text-align: center;
    font-size: 46px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.xp-container .description{
    font-size: 21px;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

/*showreel*/
.showreel-section{
    background-color: #FFD73D;
    background-image: url(header4.svg);
    background-repeat: no-repeat;
    background-position: center bottom -1px;
    padding-top: 20px;
}

.showreel-container .title{
    text-align: center;
    font-size:46px;
    margin-bottom: 40px;
}

.showreel-container .main{
    margin-bottom: 30px;
}

.showreel-container .main .thumb{
    /* height: 400px; */
}

.showreel-container .works{
    overflow: hidden;
    position: relative;
    padding-top: 50px;
}

.showreel-container .row{
    transition: transform 1s ease;
}

.showreel-container .arrow{
    position: absolute;
    width: 70px;
    z-index: 999;
    top: 50%;
    cursor: pointer;
    transition: display 10s ease
}
.showreel-container .left{
    left: -110px;
    transform: rotate(90deg) scaleY(-1);
    display: none;
}
.showreel-container .right{
    right: -110px;
    transform: rotate(90deg);
}
.showreel-container .left:hover{
    left: -115px;
}
.showreel-container .right:hover{
    right: -115px;
}

.works .pagina1{
    transform: translateX(-100%)
}


.showreel-container .works .thumb{
    background-color: #f15a24;
    height: 180px;
    cursor: pointer;
}

.showreel-container .works .thumb img{
    height: 100%;
    width: 100%;
}


.showreel-container .works .info strong{
    font-size: 30px;
}

.showreel-container .works .info p{
    color: #fff;
    line-height: 1.3rem;
    font-weight: normal;
}
/*end showreel*/

/*cv*/
.cv-section{
    background-color: #702855;
    background-image: url(header5.svg);
    background-repeat: no-repeat;
    background-position: center bottom -1px;
}

.cv-container .title{
    margin-bottom: 50px;
}

.cv-section strong{
    font-size: 46px;
}

.cv-section strong,
.cv-section p{
    color: #fff;
}

.cv-section .projects .year{
    margin-bottom: 80px;
}

.cv-section .projects .year hr{
    border: 2px solid;
    border-color: #fff;
}

.cv-section .projects .year.last{
    margin-bottom: 0px;
}

.cv-section .projects strong{
}

.cv-section .projects .jobs{
}
/*end cv*/

/*contact*/
.contact-section{
    background-color: #718FC0;
    background-image: url(header6.svg);
    background-position:center bottom -1px;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}

.contact-section p,
.contact-section strong,
.contact-section a{
    color: #fff;
    text-decoration: none;
}
.contact-section p,
.contact-section strong{
    font-size: 46px;
}
.contact-section .call{
    text-align: center;
    margin-top: 50px;
}
.contact-section .email{
    text-align: right;
    padding-top: 30px;
}

.contact-section .email p{
    font-size: 19px;
}

.contact-section .personal,
.contact-section .social-list{
    margin-top: 10px;
}

.contact-section .social-list a{
    font-size: 70px;
}
/*end contact*/

/*end*/
.end-section .end-container{
    color: #ff7bac;
    text-align: right;
}
.end-section .end-container .easter-egg{
    color: #fff;
    font-size: 10px;
}
/*end end*/