@font-face {
  font-family: "theboldfont";
  src:
    url("../fonts/theboldfont.woff2") format("woff2"),
    url("../fonts/theboldfont.woff") format("woff"),
    url("../fonts/theboldfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family: 'source-serif-variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSerifVariable-Roman.ttf.woff2') format('woff2'),
         url('../fonts/SourceSerifVariable-Roman.ttf.woff') format('woff'),
         url('../fonts/SourceSerifVariable-Roman.ttf') format('truetype');
}

@media (max-width: 575.98px) {
    .header-section{
    padding-bottom: 15px;
    padding-top: 10px;
    background-position: -80px 0px;
    background-size: 930px;
    }
    .eye {
        font-size: 60px;
    }
    .eye img {
        height: 80px;
        margin-right: 9px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .header-section{
        padding-bottom: 10px;
    }
    .header-container{
        padding-top: 30px;
    }
    .eye{
        font-size: 75px;
    }
    .eye img{
        height: 140px;
        margin-right: 15px;
    }
}

.header-section{
    background-color: #ff7bac;
    background-repeat: no-repeat;
    background-image: url(header1.svg);
}

.eye{
    font-family: "source-serif-variable";
    color: #ff7bac;
}

/*welcome*/
.welcome-section{
    background-color: #ff7bac;
    background-image: url(header2.svg);
    background-position: bottom;
    background-size: contain;
    padding-bottom: 190px;
}

.welcome-container{
    color: #f15a24;
}


.welcome-container .introduction{
    font-size: 40px;
}

.welcome-container .arrows{
    text-align: center;
}


/*expertise*/
.xp-section{
    background-color: #12A05C;
    background-image: url(header3.svg);
    background-position: bottom;
    background-size: contain;
    padding-bottom: 320px;
}

.xp-container{
    color: white
}

.xp-container .title{
    text-align: center;
    font-size:40px;
}

.xp-container .description{

}

/*showreel*/
.showreel-section{
    background-color: #FFD73D;
    background-image: url(header4.svg);
    background-position: bottom;
    background-size: contain;
    padding-bottom: 300px;
}

.showreel-container{
    color: #f15a24
}

.showreel-container .title{
    text-align: center;
    font-size:40px;
}

.showreel-container .main{
}

.showreel-container .carrossel{
    padding-bottom: 170px;
}

.purple-section{
    background-color: #702855;
    background-image: url(header5.svg);
    background-position: bottom;
    background-size: contain;
    padding-bottom: 300px;
}

.purple-section .purple-container{
    height: 500px;
}

.blue-section{
    background-color: #718FC1;
    background-image: url(header6.svg);
    background-position: bottom;
    background-size: contain;
}
.blue-section .blue-container{
    height: 500px;
}

.white-section .white-container{
    height: 50px;
}


#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }